@import 'base';

.barmen-container{
  width: 768px;
  margin: auto;
}
.order-view-top{
  display:flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.select{
  padding-left: 24.5px;
  padding-right: 24.5px;
  padding-top: 15px;
  padding-bottom:15px;

  border-radius: 100px;
  border: solid 1px #d9d9d9;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #313131;
}

.orders-workplace{
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.orders-workplace__new, .orders-workplace__done{
  flex-basis: 240px;
  flex-grow: 0;
  margin-right: 16px;
}
.orders-workplace__cancel{
  flex-grow: 1;
  width: 100%;
  margin-top: 65px;
  opacity: 0.5;
}

.orders-workplace__titile{
  text-transform: uppercase;
  margin-bottom: 16px;
}
