@import 'base';

.barmen-container{
  width: 768px;
  margin: auto;
}


.select{
  padding-left: 24.5px;
  padding-right: 24.5px;
  padding-top: 15px;
  padding-bottom:15px;

  border-radius: 100px;
  border: solid 1px #d9d9d9;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #313131;
}

.orders-workplace{
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  min-height: 60vh;
}
.orders-workplace__new, .orders-workplace__done{
  flex-basis: 232px;
  flex-grow: 0;
  margin-right: 16px;

}
.orders-workplace__cancel{
  flex-grow: 1;
  width: 100%;
  margin-top: 65px;
  opacity: 0.5;
}

.orders-workplace__title-wrapper{
  display:flex;
  justify-content: space-between;
}
.orders-workplace__edit-mode{
  text-transform: uppercase;
  cursor:pointer;
  outline:none;
  user-select: none;
  &.orders-workplace__edit-mode--normal{
    color:$primary-color;
  }
  &.orders-workplace__edit-mode--decline{
    color:$wrong-color;
  }
}

.orders-workplace__titile{
  text-transform: uppercase;
  margin-bottom: 16px;
}

.canceled-order-list{
  display:flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  .order-card{ margin-right: 16px; }
  .order-card:nth-child(3n){
    margin-right: 0;
  }

}


.order-item-enter {
  opacity: 0.01;
}

.order-item-enter.order-item-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.order-item-leave {
  opacity: 1;
}

.order-item-leave.order-item-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}
