@import 'base';

.order-card{
  display: flex;
  justify-content: space-between;
  align-items:center;

  width: 232px;
  margin-bottom: 10px;
  padding: 16px;

  box-shadow: 1px 4px 10px 0 rgba(0, 0, 0, 0.06);
  border-radius: 4px;
  background: #fff;

}

.order-card__info{
  display: flex;
}


.order-card__image{
  width: 26px;
  height: 50px;
  margin-right: 8px;
  object-fit: cover;
}

.order-card__name{
  font-size: 14px;
  margin-bottom: 4px;
  font-weight: bold;
  color:$dark-color;
}

.order-card__top{
  font-size: 10px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
    margin-bottom: 4px;
}

.order-card__status{
  display: inline-block;
  margin-right: 4px;



  &.order-card__status--new{
    color:#d75945;
  }
  &.order-card__status--done{
    color:$primary-color;
  }
  &.order-card__status- -cancel{
    color:#d7c445;
  }

}


.order-card__time{
  font-size:10px;
  white-space: nowrap;
}

/*Ok icon by Icons8 */
.icon-btn { /* Customizes Ok icon */
  display: inline-block;
  cursor:pointer;

  width: 25px;
  height: 25px;

  &.icon-btn--active{
    fill: $primary-color;
    cursor:default;
  }
}

.icon-btn--normal{
  fill:$gray-color;
  &:hover:not(.icon-btn--active){
    fill:$dark-color;
  }
}

.icon-btn--decline{
  fill:$wrong-color;
  &:hover:not(.icon-btn--active){
    fill:#881d01;
  }
}

