{
  "parser": "babel-eslint",
  "extends": [
    "standard",
    "standard-react"
  ],
  "plugins": [
    "babel",
    "react",
    "promise"
  ],
  "env": {
    "browser" : true
  },
  "globals": {
    "__DEV__"      : false,
    "__TEST__"     : false,
    "__PROD__"     : false,
    "__COVERAGE__" : false
  },
  "rules": {
    "key-spacing"          : 0,
    "jsx-quotes"           : [2, "prefer-single"],
    "max-len"              : [2, 120, 2],
    "object-curly-spacing" : [2, "always"],
    "react/prop-types"     : 0, // не имеет смысла использовать это правило, т.к. почти все срабатывания - ложные
    "no-multi-spaces"      : 0, // для пробелов перед `=`, чтобы выравнивать блоки с переменными
    "comma-dangle"         : 0 // правило хорошего тона - оставлять запятую в конце (там, где это поддерживается)
  }
}
