@import 'base';
.login-container {
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login {
  max-width: 230px;
  text-align: center;
  margin-bottom: 50px;
}

.login__title {
  margin-bottom: 8px;
}

.login__text {
  line-height: 1.43;
  margin-bottom: 32px;
  color: $dark-color;
}

.login__text-wraper {
  padding: 0 38px;
}

.logo {
  margin-bottom: 80px;
}

.logo__text {
  font-size: 16px;
  line-height: 23px;
  font-weight: bold;
  line-height: normal;
  letter-spacing: 4px;
  text-align: center;
  color: $dark-color;
  text-transform: uppercase;
}
