@import 'base';

.drink{
  display: flex;
}
.drink--disable{
  opacity: 0.3;
}

.drink__image{
  max-width: 70px;
  max-height: 140px;
  margin-right: 8px;
}

.drink__text{
  width: 170px;
  line-height: normal;
}

.drink__name{
  font-size: 32px;
  font-weight: bold;
  color:$dark-color;
  margin-bottom: 8px;
}
