@import 'base';
.drink {
  display: flex;
}

.drink__wraper{
  margin-bottom: 40px;
  position: relative;
}
.drink__wraper--processing {
    .drink {
      opacity: 0.3;
    }
}

.drink--disable {
  opacity: 0.3;
}

.drink__image {
  width: 80px;
  height: 164px;
  object-fit: cover;
  margin-right: 8px;
}

.drink__text {
  width: 170px;
  line-height: normal;
}

.drink__name {
  font-size: 32px;
  font-weight: bold;
  color: $dark-color;
  margin-bottom: 8px;
}

.btn-order-wraper {
  padding-top: 36px;
  padding-left: 32px;
  padding-right: 32px;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .drink__image {
    width: 45px;
    height: 82px;
    object-fit: cover;
    margin-right: 8px;
  }
  .btn-order-wraper {
    padding-top: 20px;
  }
  .drink__name {
    font-size: 20px;
  }
}

.drink__loader {
  display: none;
}

@media (min-width: 1024px) {
  .drink__loader {
    display: block;
  }
  .drinks-list__item {
    margin-right: 48px;
  }
  .drink:not(.drink--disable) {
    opacity: 1;
    transition: opacity ease 0.3s;
  }
  .drink--disable+.btn-order-wraper {
    display: none;
  }
  .btn-order-wraper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    visibility: none;
    opacity: 0;
  }
  .drink__wraper {
    cursor: pointer;
    margin-bottom: 48px;
    position: relative;
  }
  .drink__wraper:hover, .drink__wraper--processing {
    .drink {
      opacity: 0.3;
    }
  }

  .drink__wraper:hover:not(.drink__wraper--processing ),
  {
    .btn-order-wraper {
      visibility: visible;
      opacity: 1;
      padding: 0;
      margin: 0;
      transition: opacity ease 0.3s;
    }
  }
  .drink__wraper--processing {
    .btn-order-wraper {
      visibility: none;
      opacity: 0;
     transition:none;
    }
  }
}
