@import 'base';
@import '~normalize.css/normalize';

// Some best-practice CSS that's useful for most apps
// Just remove them if they're not what you want
html {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #f8f9fa;
  font-size:14px;
  font-family: 'Archivo Narrow', sans-serif;
  //line-height: 1.43;
  color: $gray-color;
  overflow-x:hidden;
  -webkit-overflow-scrolling: touch;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}


h2 {
  font-size: 24px;
  font-weight: bold;
  color: $dark-color;;
  margin: 0;
}

h3 {
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 1px;
  color: $gray-color;
}


.container{
  position: relative;
  z-index: 10;
  padding-left: $container-padding-size;
  padding-right: $container-padding-size;
  &.container--left{
    padding-right: auto;
  }
}

.notification-msg{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 24px;
}

.stop-scrolling{
  height: 100%;
  overflow-y: hidden
}
