@import 'base';

.icon-btn {
  display: inline-block;
  cursor:pointer;

  width: 25px;
  height: 25px;

  &.icon-btn--active{
    fill: $primary-color;
    cursor:default;
  }
}

.icon-btn--normal{
  fill:$gray-color;
  &:hover:not(.icon-btn--active):not(.icon-btn--disable){
    fill:$dark-color;
  }
}

.icon-btn--decline{
  fill:$wrong-color;
  &:hover:not(.icon-btn--active){
    fill:#881d01;
  }
}

.icon-btn--disable{
  opacity: 0.3;
}
