@import 'base';

.barmen-container{
  width: 768px;
  margin: auto;
}
.order-view-top{
  display:flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.select{
  padding-left: 24.5px;
  padding-right: 24.5px;
  padding-top: 15px;
  padding-bottom:15px;

  border-radius: 100px;
  border: solid 1px #d9d9d9;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #313131;
}

.orders-workplace__titile{
  text-transform: uppercase;
  margin-bottom: 16px;
}

.order-card{
  display: flex;
  justify-content: space-between;
  align-items:center;

  max-width: 232px;
  margin-bottom: 10px;
  padding: 16px;

  box-shadow: 1px 4px 10px 0 rgba(0, 0, 0, 0.06);
  border-radius: 4px;
  background: #fff;

}

.order-card__info{
  display: flex;
}


.order-card__image{
  width: 26px;
  max-height: 50px;
  margin-right: 8px;
}

.order-card__name{
  font-size: 14px;
  margin-bottom: 4px;
  font-weight: bold;
  color:$dark-color;
}

.order-card__status{
  font-size: 10px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;

  margin-bottom: 4px;
  &.order-card__status--new{
    color:#d75945;
  }
  &.order-card__status--done{
    color:$primary-color;
  }
  &.order-card__status--cancel{
    color:#d7c445;
  }

}


.order-card__code{

}

/*Ok icon by Icons8 */
.icons8-Ok { /* Customizes Ok icon */
  fill:$gray-color;
  width: 24px;
  height: 24px;
}
.icon { /* Customizes all icons at once */
  display: inline-block;
}
